<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tp-booking/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tp-booking/index.html [L]
</IfModule>
